# ignore node.js modules
node_modules
.node_modules

# ignore Apple DS Store
*.DS_Store
Thumbs.db

# ignore IntelliJ project files
*.idea
*.iml
\#*\#

# ignore log files
/logs
*.log

# ignore swap files
*.swp
*.swo

# ignore tags file (I'm trying to get ctags/etags working for JavaScript - Edmond)
tags

# emacs turds
*~

# pid files
*.pid

*.pyc

coverage
